<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/stylesheets/landingpage1.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>
            Ride-Sharing application
        </title>
        <!-- <% include ('layouts/Navbar.ejs') %> -->
    </head>
    <body>
        <!--Main Start-->
        <div class="main">
            <!--Navbar Start-->
        <nav class="navbar  navbar-expand-lg navbar-dark bg-transparent" style="font-family: 'Luckiest Guy', cursive;">
            <a class="navbar-brand" href="#" style="padding-left: 150px; font-size: 40px; ">Ride-Sharing App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav" style="margin-left: 35%; font-size: 20px;">
                <a class="nav-item nav-link active" href="/" id="navicon">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about" id="navicon">About</a>
              </div>
            </div>
          </nav>
        <!--Navbar End-->
        <!-- Landing page starts -->
            <div class="lefttext">
                <div class="textwrap">
                    <h1>
                        Ride Sharing application.
                    </h1>
                    <p>
                        Share ride / Book a shared ride using the below two buttons.
                    </p>
                    <button class="btn btn-primary"><a href="/shareRide">sHARe a rIDe</a></button>
                    <button class="btn btn-primary"><a href="/getRide">bOOk a rIDe</a></button>
                    <button class="btn btn-primary"><a href="/totalRide">Check Total Rides</a></button>
                    <button class="btn btn-primary"><a href="/endRide">End Rides</a></button>
                </div>
                
    
            </div>
            <div class="rightimage">
                <img src="/images/landingImg.jpg">
            </div>
        <!-- landing page ends -->
        </div>
    </body>
</html>